.message_development {
    color: $col-primary;
    text-shadow: 0 0 5px $col-secondary;
}

body {
    font-family: $ff-primary;
    margin: 0;
    color: #000;
}

.container {
    margin: 0 auto;
    width: 80%;
}

.row {
    display: flex;
    justify-content: space-between;
    gap: 2em;
}

.column {
    display: flex;
    flex-direction: column;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    letter-spacing: 1.2;
    color: #fff;
    background: linear-gradient(to bottom, $col-primary, $col-secondary);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2), 0 0 50px rgba(0, 0, 0, 0.2);
    padding: 0.5em 1.5em;
    border-radius: 3rem;
    outline: none;
    cursor: pointer;

    &:hover {
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        border: 1px solid $col-primary
    }
}

.card {
    border-radius: 3rem;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0 0 50px rgba(0, 0, 0, 0.2);
    background: linear-gradient(to right top,
            rgba(255, 255, 255, 0.7),
            rgba(255, 255, 255, 0.1));
    backdrop-filter: blur(0.5rem);
}