*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

/* Variables */
/* General Classes */
.message_development {
  color: #6F42FF;
  text-shadow: 0 0 5px #3EA3FF;
}

body {
  font-family: "Oxygen", sans-serif;
  margin: 0;
  color: #000;
}

.container {
  margin: 0 auto;
  width: 80%;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 2em;
}

.column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  letter-spacing: 1.2;
  color: #fff;
  background: -webkit-gradient(linear, left top, left bottom, from(#6F42FF), to(#3EA3FF));
  background: linear-gradient(to bottom, #6F42FF, #3EA3FF);
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2), 0 0 50px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2), 0 0 50px rgba(0, 0, 0, 0.2);
  padding: 0.5em 1.5em;
  border-radius: 3rem;
  outline: none;
  cursor: pointer;
}

.btn:hover {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border: 1px solid #6F42FF;
}

.card {
  border-radius: 3rem;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  -webkit-box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0 0 50px rgba(0, 0, 0, 0.2);
          box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0 0 50px rgba(0, 0, 0, 0.2);
  background: -webkit-gradient(linear, left bottom, right top, from(rgba(255, 255, 255, 0.7)), to(rgba(255, 255, 255, 0.1)));
  background: linear-gradient(to right top, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.1));
  -webkit-backdrop-filter: blur(0.5rem);
          backdrop-filter: blur(0.5rem);
}

/* Navigation Bar */
.nav {
  margin-top: 2em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.nav__logo img {
  width: 8rem;
  margin: auto 0;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__item {
  margin-right: 2em;
}

.nav__link {
  text-decoration: none;
  position: relative;
  letter-spacing: 0.1rem;
  font-size: 1.5rem;
  color: #000;
  /* overflow: hidden; */
}

.nav__link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -0.5rem;
  height: 0.175rem;
  width: 100%;
  background: -webkit-gradient(linear, left top, right top, from(#6F42FF), to(#3EA3FF));
  background: linear-gradient(to right, #6F42FF, #3EA3FF);
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.nav__link:hover::after {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.nav__btn {
  font-size: 1.5rem;
  color: #fff;
}

.hamburger {
  display: inline-block;
  cursor: pointer;
  position: absolute;
  right: 0;
  display: none;
}

.bar1,
.bar2,
.bar3 {
  width: 2.5rem;
  height: 0.3rem;
  margin: 0.6em 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.bar1,
.bar3 {
  background-color: #6F42FF;
}

.bar2 {
  background-color: #3EA3FF;
}

.change {
  position: fixed;
}

.change * {
  background: #fff;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-0.64rem, 0.25rem);
  transform: rotate(-45deg) translate(-0.64rem, 0.25rem);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-1rem, -0.6rem);
  transform: rotate(45deg) translate(-1rem, -0.6rem);
}

/* Hero Section */
.hero {
  padding: 5em 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 100vh;
  text-align: center;
}

.hero__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.hero__title img {
  width: 15%;
  position: absolute;
  left: 15%;
}

.hero__greeting {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__greeting h2 {
  font-size: 4.5rem;
}

.hero__me {
  font-family: "Satisfy", cursive;
  font-size: 7rem;
  margin-top: 0.5em;
}

.hero__dedication {
  margin: 1em 0;
  font-size: 3rem;
  color: #001C65;
}

.hero__image {
  width: 50%;
}

/* Skills Section */
.wrapper {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#skills {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #6F42FF), to(#3EA3FF));
  background: linear-gradient(to bottom, #6F42FF 50%, #3EA3FF);
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5em 0;
}

.terminal {
  position: absolute;
  left: 3%;
}

.shadow {
  -webkit-filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.7));
  filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.7));
}

#Indicator {
  -webkit-animation: pop 0.7s ease-in-out infinite forwards;
          animation: pop 0.7s ease-in-out infinite forwards;
}

@-webkit-keyframes pop {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes pop {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.card__skill {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 4em 2em;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 220px;
  min-height: 50vh;
  -webkit-transition: -webkit-transform ease-in-out 0.5s;
  transition: -webkit-transform ease-in-out 0.5s;
  transition: transform ease-in-out 0.5s;
  transition: transform ease-in-out 0.5s, -webkit-transform ease-in-out 0.5s;
}

.card__skill img {
  width: 30%;
}

.card__text {
  font-size: 1.05rem;
  line-height: 1.25em;
  margin-bottom: 1em;
}

.card__title {
  font-size: 1.4rem;
  color: #001C65;
  margin: 1em 0 2em;
}

.card__skills_logos {
  margin-top: 4em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 3em 0em;
  position: relative;
  width: 75%;
}

.card__skills_logos img {
  width: 50%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
}

.card__skills_logos .large__img {
  grid-column: 1 / -1;
}

/* Projects Section */
#projects {
  min-height: 100vh;
  position: relative;
  padding: 5em 0 15em;
}

#projects .projects__logo {
  width: 40%;
  position: absolute;
  bottom: 0;
  left: -7%;
  z-index: -1;
  opacity: 0.75;
}

.project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2em;
}

.project__text {
  width: 60%;
  font-size: 1.2rem;
  line-height: 1.25;
}

.project__text p {
  margin-bottom: 0.5em;
}

.project__link {
  width: 20%;
  position: relative;
  overflow: hidden;
  display: -ms-grid;
  display: grid;
  place-items: center;
  -ms-grid-row-align: stretch;
      align-self: stretch;
}

.project__link::before {
  font-size: 1.5rem;
  color: #fff;
  content: attr(data-to-content);
  display: -ms-grid;
  display: grid;
  place-items: center;
  position: absolute;
  width: 100%;
  height: 50%;
  left: -100%;
  top: 0;
  -webkit-backdrop-filter: blur(0.1rem);
          backdrop-filter: blur(0.1rem);
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(122, 45, 255, 0.5)), to(rgba(62, 163, 255, 0.5)));
  background: linear-gradient(to bottom right, rgba(122, 45, 255, 0.5), rgba(62, 163, 255, 0.5));
  -webkit-transition: -webkit-transform ease 0.5s;
  transition: -webkit-transform ease 0.5s;
  transition: transform ease 0.5s;
  transition: transform ease 0.5s, -webkit-transform ease 0.5s;
  /* border-top-left-radius: 100rem;
        border-top-right-radius: 100rem; */
  border-radius: 1rem 1rem 0 0;
}

.project__link:hover::before {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.project__link::after {
  font-size: 1.5rem;
  color: #fff;
  content: "Go to Website";
  display: -ms-grid;
  display: grid;
  place-items: center;
  position: absolute;
  width: 100%;
  height: 50%;
  right: -100%;
  bottom: 0;
  -webkit-backdrop-filter: blur(0.1rem);
          backdrop-filter: blur(0.1rem);
  background: -webkit-gradient(linear, left bottom, right top, from(rgba(122, 45, 255, 0.5)), to(rgba(62, 163, 255, 0.5)));
  background: linear-gradient(to top right, rgba(122, 45, 255, 0.5), rgba(62, 163, 255, 0.5));
  -webkit-transition: -webkit-transform ease 0.5s;
  transition: -webkit-transform ease 0.5s;
  transition: transform ease 0.5s;
  transition: transform ease 0.5s, -webkit-transform ease 0.5s;
  /* border-bottom-left-radius: 100rem;
            border-bottom-right-radius: 100rem; */
  border-radius: 0 0 1rem 1rem;
}

.project__link:hover::after {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.project__img {
  width: 100%;
  border-radius: 1rem;
}

/* Contact Me Section */
.contact_me {
  position: absolute;
  top: -4em;
  height: 8em;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  place-items: center;
  padding: 2em;
  z-index: 1;
  font-size: 2rem;
}

.contact__text {
  font-size: inherit;
  -ms-flex-preferred-size: 48%;
      flex-basis: 48%;
  color: #001C65;
  line-height: 1.5;
}

.contact__btn {
  font-size: 0.75em;
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
  height: 4em;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 1.5rem;
  color: #fff;
  font-weight: bolder;
  position: relative;
  max-width: 400px;
}

/* Footer */
.footer {
  position: relative;
  background: #3EA3FF;
  color: #fff;
  font-size: 1.2rem;
  padding: 2em 0 4em;
}

.footer__me {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  gap: 2em;
}

.footer_pics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 15%;
}

.profile__pic {
  width: 100%;
}

.footer__greetings {
  width: 100%;
}

.footer__greetings h1 {
  font-size: 3rem;
  color: #fff;
  margin-bottom: 1em;
}

.footer__greetings p {
  margin-bottom: 1em;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__social__link {
  font-size: 2rem;
  margin: 0 0.5em;
  width: 4.5rem;
  height: 4.5rem;
  text-align: center;
  border-radius: 30%;
  -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  display: -ms-grid;
  display: grid;
  place-items: center;
  text-decoration: none;
  background: #fff;
  overflow: hidden;
  position: relative;
}

.footer__social__link i {
  color: #3EA3FF;
  line-height: 4rem;
  -webkit-transition: -webkit-transform linear 0.25s;
  transition: -webkit-transform linear 0.25s;
  transition: transform linear 0.25s;
  transition: transform linear 0.25s, -webkit-transform linear 0.25s;
}

.footer__social__link:hover i {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  color: #fff;
}

.footer__social__link::before {
  content: '';
  position: absolute;
  width: 120%;
  height: 120%;
  background: #6F42FF;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  left: -110%;
  top: 90%;
}

.footer__social__link:hover::before {
  -webkit-animation: social-effect 0.7s 1;
          animation: social-effect 0.7s 1;
  top: -10%;
  left: -10%;
}

@-webkit-keyframes social-effect {
  0% {
    left: -110%;
    top: 90%;
  }
  50% {
    left: 10%;
    top: -30%;
  }
  100% {
    left: -10%;
    top: -10%;
  }
}

@keyframes social-effect {
  0% {
    left: -110%;
    top: 90%;
  }
  50% {
    left: 10%;
    top: -30%;
  }
  100% {
    left: -10%;
    top: -10%;
  }
}

.footer__end {
  margin-top: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__end img {
  width: 7%;
  margin-top: 1em;
}

/* Contact Page */
.hero--contact {
  padding: 5em 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 50vh;
  text-align: center;
}

.contact__avatar {
  width: 10%;
}

.sec__contact {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #6F42FF), to(#3EA3FF));
  background: linear-gradient(to bottom, #6F42FF 50%, #3EA3FF);
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5em 0;
}

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card__contact {
  padding: 3em 2em;
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact__title {
  font-size: 2.2rem;
  width: 90%;
  text-align: center;
  margin-bottom: 1em;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form__container {
  width: 75%;
}

.form__box {
  font: "Oxygen", sans-serif;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (0.5fr)[7];
      grid-template-rows: repeat(7, 0.5fr);
  gap: 2em;
}

.form__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.single {
  grid-column: span 1;
  grid-row: span 1;
}

.double {
  grid-column: span 2;
  grid-row: span 5;
}

.form__btn {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  margin-top: 1em;
  width: 35%;
  grid-column: span 2;
  grid-row: span 1;
}

.contact__button {
  font-size: 1rem;
  height: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 1.2rem;
  color: #fff;
  font-weight: bolder;
  position: relative;
  border: none;
}

.contact__input {
  position: relative;
  font-size: 1.2rem;
  width: 100%;
  border: none;
  border-radius: 0.25em;
  padding: 0.5em 1em 0;
  background: rgba(255, 255, 255, 0.05);
  -webkit-backdrop-filter: blur(2rem);
          backdrop-filter: blur(2rem);
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.contact__input:focus {
  border: solid #001C65 2px;
  outline: none;
  -webkit-box-shadow: 0 0 20px #6F42FF;
          box-shadow: 0 0 20px #6F42FF;
}

.contact__input:focus + .contact__label {
  font-size: 1rem;
  -webkit-transform: translate(0.5em, -1.4em);
          transform: translate(0.5em, -1.4em);
}

.contact__input:not(:placeholder-shown) + .contact__label {
  font-size: 1rem;
  -webkit-transform: translate(0.5em, -1.4em);
          transform: translate(0.5em, -1.4em);
}

.input__box {
  position: relative;
}

.contact__label {
  color: #fff;
  position: absolute;
  font-size: 1.2rem;
  color: #001C65;
  pointer-events: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transform: translate(1.1em, 0.3em);
          transform: translate(1.1em, 0.3em);
}

.contact__span {
  color: #fff;
}

.margin--bottom {
  margin-bottom: 5em;
}

.padding--top {
  padding-top: 8em;
}

/* Media Queries */
@media only screen and (max-width: 1280px) {
  html {
    font-size: 14px;
  }
  .contact_me {
    width: 75%;
  }
}

@media (max-width: 800px) {
  html {
    font-size: 12px;
  }
  .nav__logo img {
    width: 6rem;
  }
  .nav__list {
    position: fixed;
    bottom: 0;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    background: -webkit-gradient(linear, left top, right bottom, from(#6F42FF), to(#3EA3FF));
    background: linear-gradient(to bottom right, #6F42FF, #3EA3FF);
    z-index: 2;
    height: 100vh;
    width: 100%;
    clip-path: circle(50px at 90% -15%);
    -webkit-clip-path: circle(50px at 90% -15%);
    -webkit-transition: all 1s ease-out;
    transition: all 1s ease-out;
  }
  .nav__list.open {
    clip-path: circle(calc(150vh) at 90% -10%);
    -webkit-clip-path: circle(150vh at 90% -10%);
  }
  .nav__item {
    opacity: 0;
  }
  .nav__item:nth-child(1) {
    -webkit-transition: all 0.5s ease 0.2s;
    transition: all 0.5s ease 0.2s;
  }
  .nav__item:nth-child(2) {
    -webkit-transition: all 0.5s ease 0.4s;
    transition: all 0.5s ease 0.4s;
  }
  .nav__item:nth-child(3) {
    -webkit-transition: all 0.5s ease 0.6s;
    transition: all 0.5s ease 0.6s;
  }
  .nav__item:nth-child(4) {
    -webkit-transition: all 0.5s ease 0.8s;
    transition: all 0.5s ease 0.8s;
  }
  .nav__item.fade {
    opacity: 1;
  }
  .nav__link {
    font-size: 2rem;
    color: #fff;
  }
  .nav__link::after {
    background: #fff;
  }
  .hamburger {
    display: inline;
    position: absolute;
    top: 50%;
    right: 10%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    z-index: 3;
  }
  .hero {
    min-height: 50vh;
    padding: 5em 0;
  }
  .hero__me {
    font-size: 5rem;
  }
  .hero__title {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hero__title img {
    width: 30%;
    position: relative;
    margin: 0 auto;
    left: 0;
  }
  .hero__greeting h2 {
    margin-top: 1em;
  }
  .hero__image {
    width: 80%;
  }
  .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 4em;
  }
  .project {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 0;
  }
  .project__link {
    width: 80%;
    margin: 0 auto;
  }
  .project__link::after, .project__link::before {
    font-size: 0.8rem;
  }
  .project__text {
    width: 100%;
    text-align: center;
  }
  .contact_me {
    width: 95%;
    height: none;
    font-size: 4vw;
  }
  .contact__btn {
    -ms-flex-preferred-size: 60%;
        flex-basis: 60%;
    font-size: 3.5vw;
  }
  .nav.row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .footer__me {
    width: 100%;
  }
  .footer__social {
    width: 100%;
  }
  .card__contact {
    width: 100%;
  }
  .contact__title {
    font-size: 6vw;
  }
  .form__container {
    width: 100%;
  }
}

@media (max-width: 800px) and (max-width: 767px) {
  .form__box {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: (0.5fr)[8];
        grid-template-rows: repeat(8, 0.5fr);
  }
  .double {
    -ms-grid-column: 1;
    grid-column: 1;
  }
  .form__btn {
    -ms-grid-column: 1;
    grid-column: 1;
    width: 50%;
  }
}

@media (max-width: 800px) {
  .padding--top {
    padding-top: 9em;
  }
}

@media (orientation: portrait) {
  html {
    font-size: 12px;
  }
  .nav__logo img {
    width: 6rem;
  }
  .nav__list {
    position: fixed;
    bottom: 0;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    background: -webkit-gradient(linear, left top, right bottom, from(#6F42FF), to(#3EA3FF));
    background: linear-gradient(to bottom right, #6F42FF, #3EA3FF);
    z-index: 2;
    height: 100vh;
    width: 100%;
    clip-path: circle(50px at 90% -15%);
    -webkit-clip-path: circle(50px at 90% -15%);
    -webkit-transition: all 1s ease-out;
    transition: all 1s ease-out;
  }
  .nav__list.open {
    clip-path: circle(calc(150vh) at 90% -10%);
    -webkit-clip-path: circle(150vh at 90% -10%);
  }
  .nav__item {
    opacity: 0;
  }
  .nav__item:nth-child(1) {
    -webkit-transition: all 0.5s ease 0.2s;
    transition: all 0.5s ease 0.2s;
  }
  .nav__item:nth-child(2) {
    -webkit-transition: all 0.5s ease 0.4s;
    transition: all 0.5s ease 0.4s;
  }
  .nav__item:nth-child(3) {
    -webkit-transition: all 0.5s ease 0.6s;
    transition: all 0.5s ease 0.6s;
  }
  .nav__item:nth-child(4) {
    -webkit-transition: all 0.5s ease 0.8s;
    transition: all 0.5s ease 0.8s;
  }
  .nav__item.fade {
    opacity: 1;
  }
  .nav__link {
    font-size: 2rem;
    color: #fff;
  }
  .nav__link::after {
    background: #fff;
  }
  .hamburger {
    display: inline;
    position: absolute;
    top: 50%;
    right: 10%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    z-index: 3;
  }
  .hero {
    min-height: 50vh;
    padding: 5em 0;
  }
  .hero__title {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hero__title img {
    width: 30%;
    position: relative;
    margin: 0 auto;
    left: 0;
  }
  .hero__greeting h2 {
    margin-top: 1em;
  }
  .hero__image {
    width: 80%;
  }
  .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 4em;
  }
  .project {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 0;
  }
  .project__link {
    width: 80%;
    margin: 0 auto;
  }
  .project__link::after, .project__link::before {
    font-size: 0.8rem;
  }
  .project__text {
    width: 100%;
    text-align: center;
  }
  .contact_me {
    width: 95%;
    height: none;
    font-size: 4vw;
  }
  .contact__btn {
    -ms-flex-preferred-size: 60%;
        flex-basis: 60%;
    font-size: 3.5vw;
  }
  .nav.row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .footer__me {
    width: 100%;
  }
  .footer__social {
    width: 100%;
  }
  .card__contact {
    width: 100%;
  }
}

@media (orientation: portrait) and (max-width: 767px) {
  .hero__me {
    font-size: 5rem;
  }
  .form__container {
    width: 100%;
  }
  .double {
    -ms-grid-column: 1;
    grid-column: 1;
  }
  .form__btn {
    -ms-grid-column: 1;
    grid-column: 1;
    width: 50%;
  }
  .contact__title {
    font-size: 6vw;
  }
  .form__box {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: (0.5fr)[8];
        grid-template-rows: repeat(8, 0.5fr);
  }
}

@media (orientation: portrait) {
  .padding--top {
    padding-top: 9em;
  }
}
/*# sourceMappingURL=styles.css.map */