*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

/* Variables */
:root {
  /* Colors */
  --col-primary: #6F42FF;
  --col-secondary: #3EA3FF;
  --col-accent: #001C65;
  --col-white: #fff;
  --col-black: #000;
  /* Fonts */
  --ff-primary: "Oxygen", sans-serif;
  --ff-accent: "Satisfy", cursive;
}

body {
  --col-bg: #fff;
  --col-font: #000;
}
body.dark {
  --col-bg: hsl(225, 6%, 15%);
  --col-font: #fff;
}

/* General Classes */
.message_development {
  color: var(--col-primary);
  text-shadow: 0 0 5px var(--col-secondary);
}

body {
  font-family: var(--ff-primary);
  margin: 0;
  color: var(--col-black);
}

.toggable {
  background-color: var(--col-bg);
  transition: background-color 500ms ease-in-out;
}

.container {
  margin: 0 auto;
  width: 80%;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2em;
}

.column {
  display: flex;
  flex-direction: column;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  letter-spacing: 1.2;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2), 0 0 50px rgba(0, 0, 0, 0.2);
  padding: 0.5em 1.5em;
  border-radius: 0.5rem;
  outline: none;
  cursor: pointer;
  color: var(--col-white);
  background: linear-gradient(to bottom, var(--col-primary), var(--col-secondary));
  z-index: 1;
}
.btn:hover {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  outline: 2px solid var(--col-primary);
}
.btn::before {
  z-index: -1;
}

.margin--bottom {
  margin-bottom: 5em;
}

.padding--top {
  padding-top: 8em;
}

.card {
  border-radius: 1rem;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0 0 50px rgba(0, 0, 0, 0.2);
  background: linear-gradient(to right top, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.1));
  -webkit-backdrop-filter: blur(0.5rem);
          backdrop-filter: blur(0.5rem);
}

/* Navigation Bar */
.nav {
  padding-top: 2em;
  align-items: center;
  position: relative;
}
.nav.sticky {
  padding: 1em 0;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
  -webkit-backdrop-filter: blur(0.5rem);
          backdrop-filter: blur(0.5rem);
  z-index: 10;
}
.nav.sticky .nav__logo img {
  width: 6rem;
}

.nav__logo img {
  aspect-ratio: attr(width)/attr(height);
  width: 8rem;
  height: auto;
  margin: auto 0;
}

.nav__list {
  display: flex;
  list-style: none;
  align-items: center;
}

.nav__item {
  margin-right: 2em;
}

.nav__link {
  text-decoration: none;
  position: relative;
  letter-spacing: 0.1rem;
  font-size: 1.5rem;
  color: var(--col-font);
}
.nav__link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -0.5rem;
  height: 0.175rem;
  width: 100%;
  background: linear-gradient(to right, var(--col-primary), var(--col-secondary));
  transform: scale(0, 1);
  transition: transform 0.3s ease;
}
.nav__link:hover::after {
  transform: scale(1, 1);
}

.nav__btn {
  font-size: 1.5rem;
  color: var(--col-white);
}

/* Hamburger */
.hamburger {
  display: inline-block;
  cursor: pointer;
  display: none;
  z-index: 11;
}

.bar1,
.bar2,
.bar3 {
  width: 2.5rem;
  height: 0.3rem;
  margin: 0.6em 0;
  transition: 0.4s;
}

.bar1,
.bar3 {
  background-color: var(--col-primary);
}

.bar2 {
  background-color: var(--col-secondary);
}

.change {
  position: fixed;
  right: 10%;
}
.change * {
  background: var(--col-white);
}
.change .bar1 {
  transform: rotate(-45deg) translate(-0.64rem, 0.25rem);
}
.change .bar2 {
  opacity: 0;
}
.change .bar3 {
  transform: rotate(45deg) translate(-1rem, -0.6rem);
}

/* toggle button */
.nav__dark--div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__dark {
  cursor: pointer;
}

.nav__dark.dark > * {
  fill: var(--col-white);
}
.nav__dark.dark #toggle-circle {
  transform: translateX(0);
}
.nav__dark.dark #toggle-star {
  transform: rotate(360deg);
}

#toggle-circle {
  transform: translateX(-70px);
  transition: transform 500ms ease;
}

#toggle-star {
  transition: transform 750ms ease;
  transform-origin: center;
}

/* Hero Section */
.hero {
  padding: 5em 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
  text-align: center;
}

.hero__title {
  display: flex;
  width: 100%;
  color: var(--col-font);
}
.hero__title img {
  aspect-ratio: attr(width)/attr(height);
  width: 15%;
  height: auto;
  position: absolute;
  left: 15%;
}

.hero__greeting {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero__greeting h2 {
  font-size: 4.5rem;
}

.hero__me {
  font-family: var(--ff-accent);
  font-size: 7rem;
  margin-top: 0.5em;
}

.hero__dedication {
  margin: 1em 0;
  font-size: 3rem;
  color: var(--col-accent);
}

body.dark .hero__dedication {
  color: var(--col-primary);
}

.hero__image {
  aspect-ratio: attr(width)/attr(height);
  width: 50%;
  height: auto;
}

#download__button {
  margin-bottom: 1.5rem;
}
#download__button > i {
  margin-right: 1rem;
}

/* Skills Section */
.wrapper {
  flex-wrap: wrap;
}

#skills {
  background: linear-gradient(to bottom, var(--col-primary) 50%, var(--col-secondary));
  min-height: 100vh;
  display: flex;
  padding: 5em 0;
}

.terminal {
  position: absolute;
  left: 3%;
}

.shadow {
  filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.7));
}

@-webkit-keyframes pop {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes pop {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.card__skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 4em 2em;
  flex-basis: 100%;
  flex: 1;
  min-width: 220px;
  min-height: 50vh;
  transition: transform ease-in-out 0.5s;
}
.card__skill img {
  aspect-ratio: attr(width)/attr(height);
  width: 30%;
  height: auto;
}

.card__text {
  font-size: 1.05rem;
  line-height: 1.25em;
  margin-bottom: 1em;
}

.card__title {
  font-size: 1.4rem;
  color: var(--col-accent);
  margin: 1em 0 2em;
}

.card__skills_logos {
  margin-top: 4em;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3em 0em;
  position: relative;
  width: 75%;
}
.card__skills_logos img {
  aspect-ratio: attr(width)/attr(height);
  width: 50%;
  height: auto;
  align-self: center;
  justify-self: center;
}
.card__skills_logos .large__img {
  grid-column: 1/-1;
}

/* Projects Section */
#projects {
  --clr-react: rgb(83, 193, 222);
  --clr-sass: #c69;
  --clr-html: #e34c26;
  --clr-js: #f0db4f;
  --clr-css: #264de4;
  --clr-jQuery: #0769AD;
  --clr-python: #4B8BBE;
  --clr-mui: #00b0ff;
  min-height: 100vh;
  position: relative;
  padding: 5em 0 15em;
  background-color: var(--col-bg);
}
#projects .projects__logo {
  aspect-ratio: attr(width)/attr(height);
  width: 40%;
  height: auto;
  position: absolute;
  bottom: 0;
  left: -7%;
  z-index: 0;
  opacity: 0.75;
}

.projects--grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 5rem;
  z-index: 2;
  place-items: center;
}

.project__card {
  z-index: inherit;
  background-size: cover;
  aspect-ratio: 1/1;
  height: auto;
  max-width: 320px;
  border-radius: 0.5rem;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  align-items: flex-end;
  transition: transform 500ms ease;
}

.project__card--content {
  --padding: 1.5rem;
  padding: var(--padding);
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4) 15%, rgba(0, 0, 0, 0.9));
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  transition: transform 500ms ease-out;
}

.project__title {
  color: var(--col-white);
  font-size: 1.3rem;
  margin-bottom: 1.3rem;
  position: relative;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.project__title::after {
  content: "";
  width: calc(100% + var(--padding));
  height: 0.25rem;
  background: linear-gradient(to right, var(--col-primary), var(--col-secondary));
  position: absolute;
  bottom: -0.75ch;
  border-radius: 0 0.15rem 0.15rem 0;
  left: calc(var(--padding) * -1);
  transform-origin: left;
  transition: transform 350ms ease-out 200ms;
}

.project__text {
  color: rgba(255, 255, 255, 0.9);
}
.project__text > a {
  color: rgba(255, 255, 255, 0.9);
}
.project__text > a:hover {
  background-color: rgba(120, 120, 120, 0.7);
}

.project__tools {
  display: flex;
  gap: 1rem;
  margin: 1rem 0 0;
  flex-wrap: wrap;
}

.tool {
  color: var(--col-white);
  padding: 0.25em 0.75em;
  border-radius: 0.25rem;
  font-size: 0.75rem;
}
.tool::before {
  font-family: "Font Awesome 5 Brands";
  font-weight: 400;
  margin-right: 0.5rem;
  white-space: nowrap;
}

.react {
  background-color: rgb(83, 193, 222);
}
.react::before {
  content: "\f41b";
}

.sass {
  background-color: var(--clr-sass);
}
.sass::before {
  content: "\f41e";
}

.html--class {
  background-color: var(--clr-html);
}
.html--class::before {
  content: "\f13b";
}

.js--class {
  background-color: var(--clr-js);
}
.js--class::before {
  content: "\f3b9";
}

.css--class {
  background-color: var(--clr-css);
}
.css--class::before {
  content: "\f13c";
}

.jQuery {
  background-color: var(--clr-jQuery);
}
.jQuery::before {
  content: url("../images/jQuery.svg");
  width: 0.75rem;
  height: 0.75rem;
  fill: var(--col-white);
}

.flask {
  background-color: var(--clr-python);
}
.flask::before {
  content: "\f3e2";
}

.mui {
  background-color: var(--clr-mui);
}
.mui::before {
  content: url("../images/material-ui.svg");
  width: 0.75rem;
  height: 0.75rem;
  fill: var(--col-white);
}

.repository--div {
  width: 100%;
  margin-top: 1rem;
  display: grid;
  place-content: center;
}

.repository__button {
  color: var(--col-white);
  padding: 0.25em 0.75em;
  border-radius: 0.25rem;
  font-size: 0.75rem;
  text-decoration: none;
  transition: background-color 250ms ease;
}
.repository__button:hover {
  background-color: rgba(111, 66, 255, 0.5);
  border-radius: 0.25rem;
}
.repository__button > i {
  margin-right: 0.5rem;
}

/* Contact Me Section */
.contact_me {
  position: absolute;
  top: -4em;
  height: 8em;
  left: 50%;
  transform: translateX(-50%);
  width: 60%;
  display: flex;
  justify-content: space-around;
  place-items: center;
  padding: 2em;
  z-index: 1;
  font-size: 2rem;
}

.contact__text {
  font-size: inherit;
  flex-basis: 48%;
  color: var(--col-accent);
  line-height: 1.5;
}

.contact__btn {
  font-size: 0.75em;
  flex-basis: 45%;
  height: 4em;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 1.5rem;
  color: var(--col-white);
  font-weight: bolder;
  position: relative;
  max-width: 400px;
} /* Footer */
.footer {
  position: relative;
  background: var(--col-secondary);
  color: var(--col-white);
  font-size: 1.2rem;
  padding-bottom: 4em;
}

.footer__me {
  display: grid;
  width: 50%;
  gap: 2em;
  grid-template-columns: 0.2fr 1fr;
  align-items: center;
}

.profile__pic {
  aspect-ratio: attr(width)/attr(height);
  width: 100%;
  height: auto;
}

.footer__greetings {
  width: 100%;
  grid-column: 2/2;
}

.footer__greetings h1 {
  font-size: 3rem;
  color: var(--col-white);
  margin-bottom: 1em;
}

.footer__greetings p {
  margin-bottom: 1em;
}

.footer__social {
  display: flex;
  width: 40%;
  justify-content: center;
  align-items: center;
}

.footer__social__link {
  font-size: 2rem;
  margin: 0 0.5em;
  width: 4.5rem;
  height: auto;
  text-align: center;
  border-radius: 15%;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  display: grid;
  place-items: center;
  text-decoration: none;
  background: var(--col-white);
  overflow: hidden;
  position: relative;
}

.footer__social__link i {
  color: var(--col-secondary);
  line-height: 4rem;
  transition: transform linear 0.25s;
}

.footer__social__link:hover i {
  transform: scale(1.2);
  color: var(--col-white);
}

.footer__social__link::before {
  content: "";
  position: absolute;
  width: 150%;
  height: 150%;
  background: var(--col-primary);
  transform: rotate(45deg);
  left: -110%;
  top: 90%;
}

.footer__social__link:hover::before {
  -webkit-animation: social-effect 0.7s 1;
          animation: social-effect 0.7s 1;
  top: -20%;
  left: -20%;
}

@-webkit-keyframes social-effect {
  0% {
    left: -110%;
    top: 90%;
  }
  50% {
    left: 5%;
    top: -30%;
  }
  100% {
    left: -20%;
    top: -20%;
  }
}

@keyframes social-effect {
  0% {
    left: -110%;
    top: 90%;
  }
  50% {
    left: 5%;
    top: -30%;
  }
  100% {
    left: -20%;
    top: -20%;
  }
}
.footer__end {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__end img {
  aspect-ratio: attr(width)/attr(height);
  width: 7%;
  height: auto;
  margin-top: 1em;
}

/* Media Queries */
@media (hover: hover) {
  .project__card:hover .project__title::after {
    transform: scaleX(1);
  }
  .project__card:hover {
    transform: scale(1.05);
  }
  .project__card:hover .project__card--content {
    transform: translateY(0);
  }
  .project__card--content {
    transform: translateY(calc(100% - var(--padding) - 3rem));
  }
  .project__title::after {
    transform: scaleX(0);
  }
}
@media only screen and (min-width: 1880px) {
  .projects--grid {
    gap: 7.5rem;
  }
  .project__card {
    min-width: 320px;
    max-width: 480px;
  }
}
@media only screen and (max-width: 1280px) {
  html {
    font-size: 14px;
  }
  .contact_me {
    width: 75%;
  }
}
@media (max-width: 800px) {
  html {
    font-size: 12px;
  }
  .nav__logo img {
    width: 6rem;
  }
  .nav__dark--div {
    justify-content: flex-start;
  }
  .nav__dark {
    width: 2.5rem;
    height: auto;
  }
  .nav__list {
    position: fixed;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background: linear-gradient(to bottom right, var(--col-primary), var(--col-secondary));
    z-index: 10;
    height: 100vh;
    width: 100%;
    clip-path: circle(50px at 90% -15%);
    -webkit-clip-path: circle(50px at 90% -15%);
    transition: all 1s ease-out;
  }
  .nav__list.open {
    clip-path: circle(150vh at 90% -10%);
    -webkit-clip-path: circle(150vh at 90% -10%);
  }
  .nav__item {
    opacity: 0;
  }
  .nav__item:nth-child(1) {
    transition: all 0.5s ease 0.2s;
  }
  .nav__item:nth-child(2) {
    transition: all 0.5s ease 0.4s;
  }
  .nav__item:nth-child(3) {
    transition: all 0.5s ease 0.6s;
  }
  .nav__item:nth-child(4) {
    transition: all 0.5s ease 0.8s;
  }
  .nav__item.fade {
    opacity: 1;
  }
  .nav__link {
    font-size: 2rem;
    color: var(--col-white);
  }
  .nav__link::after {
    background: var(--col-white);
  }
  .hamburger {
    display: inline;
  }
  .hero {
    min-height: 50vh;
    padding: 5em 0;
  }
  .hero__me {
    font-size: 5rem;
  }
  .hero__title {
    flex-direction: column;
  }
  .hero__title img {
    width: 30%;
    position: relative;
    margin: 0 auto;
    left: 0;
  }
  .hero__greeting h2 {
    margin-top: 1em;
  }
  .hero__image {
    width: 80%;
  }
  .row {
    gap: 4em;
  }
  .contact_me {
    width: 95%;
    height: none;
    font-size: 4vw;
  }
  .contact__btn {
    flex-basis: 60%;
    font-size: 3.5vw;
  }
  .nav.row {
    flex-direction: row;
  }
  .footer__me {
    width: 100%;
    grid-template-columns: 0.2fr 1fr;
  }
  .footer__greetings {
    grid-column: 1/3;
  }
  .footer__social {
    width: 100%;
  }
  .footer__social__link {
    font-size: 1.75rem;
    width: 4rem;
  }
  .card__contact {
    width: 100%;
  }
  .contact__title {
    font-size: 6vw;
  }
  .form__container {
    width: 100%;
  }
}
@media (max-width: 800px) and (max-width: 767px) {
  .form__box {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 0.5fr);
  }
  .double {
    grid-column: 1;
  }
  .form__btn {
    grid-column: 1;
    width: 50%;
  }
}
@media (max-width: 800px) {
  .footer__me {
    width: 100%;
    grid-template-columns: 0.25fr 1fr;
  }
}
@media (max-width: 800px) {
  .padding--top {
    padding-top: 9em;
  }
}
@media (prefers-reduced-motion: no-preference) {
  #Indicator {
    -webkit-animation: pop 0.7s ease-in-out infinite forwards;
            animation: pop 0.7s ease-in-out infinite forwards;
  }
  .project__card:hover .project__title::after {
    transform: scaleX(1);
  }
  .project__card:hover {
    transform: scale(1.05);
  }
  .project__card:hover .project__card--content {
    transform: translateY(0);
  }
  .project__card--content {
    transform: translateY(calc(100% - var(--padding) - 3rem));
  }
  .project__title::after {
    transform: scaleX(0);
  }
  * {
    scroll-behavior: smooth;
  }
}/*# sourceMappingURL=styles.css.map */