.hero {
    padding: 5em 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 100vh;
    text-align: center;
}

.hero__title {
    display: flex;
    width: 100%;
    color: var(--col-font);

    img {
        width: 15%;
        position: absolute;
        left: 15%;
    }
}

.hero__greeting {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2 {
        font-size: 4.5rem;
    }
}

.hero__me {
    font-family: var(--ff-accent);
    font-size: 7rem;
    margin-top: 0.5em;
}

.hero__dedication {
    margin: 1em 0;
    font-size: 3rem;
    color: var(--col-accent)
}

body.dark .hero__dedication {
    color: var(--col-primary);
}

.hero__image {
    width: 50%;
}

#download__button {
    margin-bottom: 1.5rem;
    & > i {
        margin-right: 1rem;
    }

}