
.nav {
    padding-top: 2em;
    align-items: center;
    position: relative;
}

.nav__logo img {
    width: 8rem;
    margin: auto 0;
}

.nav__list {
    display: flex;
    list-style: none;
    align-items: center;
}

.nav__item {
    margin-right: 2em
}

.nav__link {
    text-decoration: none;
    position: relative;
    letter-spacing: 0.1rem;
    font-size: 1.5rem;
    color: var(--col-font);

    &::after {
        content: '';

        position: absolute;
        left: 0;
        bottom: -0.5rem;
        height: 0.175rem;
        width: 100%;
        background: linear-gradient(to right, var(--col-primary), var(--col-secondary));
        transform: scale(0, 1);
        transition: transform 0.3s ease;
    }

    &:hover::after {
        transform: scale(1, 1)
    }
}

.nav__btn {
    font-size: 1.5rem;
    color: var(--col-white);
}