<section id="projects" class="toggable">

    <img width="3810" height="2151" src="{{ url_for('static', filename='images/Logos/Logo.svg') }}" alt="my_logo" class="projects__logo"
    aria-hidden="true" loading="lazy">

    <!-- New cards -->
    <div class="container wrapper projects--grid">

      <!-- My Portfolio -->
      <div class="project__card" data-bg="Portfolio.webp" onclick="location.href='https://www.danielportillo.dev';">
        <div class="project__card--content">
          <h2 class="project__title">Personal Website</h2>
          <p class="project__text">
            My personal website, and portfolio. <br> <br> Developed using:
          </p>
          <div class="project__tools">
            <span class="tool html--class">HTML</span>
            <span class="tool sass">Sass</span>
            <span class="tool js--class">Vanilla JS</span>
            <span class="tool flask">Flask</span>
          </div>
          <div class="repository--div"><a class="repository__button" href="https://github.com/dportillo23/My-site-fullstack"><i class="fab fa-github"></i>Repository</a></div>
        </div>
      </div>

            <!-- Country Quiz App -->
            <div class="project__card" data-bg="Country-quiz.webp" onclick="location.href='https://dportillo23.github.io/country-quiz/';">
              <div class="project__card--content">
                <h2 class="project__title">Country Quiz</h2>
                <p class="project__text">
                  <a href="https://devchallenges.io/challenges/Bu3G2irnaXmfwQ8sZkw8">Country Quiz challenge from Devchallenge.io.</a> Consumes data from rest countries API to generate thre types of questions.<br> <br> Developed using:
                </p>
                <div class="project__tools">
                  <span class="tool react">React</span>
                  <span class="tool sass">Sass</span>
                </div>
                <div class="repository--div"><a class="repository__button" href="https://github.com/dportillo23/country-quiz"><i class="fab fa-github"></i>Repository</a></div>
              </div>
            </div>

      <!-- Calculator App -->
      <div class="project__card" data-bg="Calculator_App.webp" onclick="location.href='https://dportillo23.github.io/calculator-app/';">
        <div class="project__card--content">
          <h2 class="project__title">Calculator App</h2>
          <p class="project__text">
            <a href="https://www.frontendmentor.io/challenges/calculator-app-9lteq5N29">Calculator app challenge from
              Frontend Mentor.</a> Capable of simple math operations, and change themes and save the selection. <br> <br> Developed using:
          </p>
          <div class="project__tools">
            <span class="tool react">React</span>
            <span class="tool css--class">CSS</span>
          </div>
          <div class="repository--div"><a class="repository__button" href="https://github.com/dportillo23/calculator-app"><i class="fab fa-github"></i>Repository</a></div>
        </div>
      </div>

      <!-- Sunnyside Landing page -->
      <div class="project__card" data-bg="Sunnyside.webp" onclick="location.href='https://dportillo23.github.io/sunnyside-agency-landing-page-main/';">
        <div class="project__card--content">
          <h2 class="project__title">Sunnyside Landing Page</h2>
          <p class="project__text">
            <a href="https://www.frontendmentor.io/challenges/sunnyside-agency-landing-page-7yVs3B6ef">Sunnyside agency
              landing page challenge on Frontend Mentor.</a> Landing page with different pic shapes for different devices.<br> <br> Developed using:
          </p>
          <div class="project__tools">
            <span class="tool html--class">HTML</span>
            <span class="tool sass">Sass</span>
            <span class="tool jQuery">jQuery</span>
          </div>
          <div class="repository--div"><a class="repository__button" href="https://github.com/dportillo23/sunnyside-agency-landing-page-main"><i class="fab fa-github"></i>Repository</a></div>
        </div>
      </div>

      <!-- Tip Calculator App -->
      <div class="project__card" data-bg="Tip_Calculator.webp" onclick="location.href='https://dportillo23.github.io/tip-calculator-app/';">
        <div class="project__card--content">
          <h2 class="project__title">Tip Calculator App</h2>
          <p class="project__text">
            <a href="https://www.frontendmentor.io/challenges/tip-calculator-app-ugJNGbJUX">Tip calculator app challenge
              from Frontend Mentor.</a> App to calculate tip share, validates empty required fields.<br> <br> Developed using:
          </p>
          <div class="project__tools">
            <span class="tool react">React</span>
            <span class="tool sass">Sass</span>
          </div>
          <div class="repository--div"><a class="repository__button" href="https://github.com/dportillo23/tip-calculator-app"><i class="fab fa-github"></i>Repository</a></div>
        </div>
      </div>

            <!-- Sign up form -->
            <div class="project__card" data-bg="Signup.webp" onclick="location.href='https://dportillo23.github.io/signup/';">
              <div class="project__card--content">
                <h2 class="project__title">Sign Up Form</h2>
                <p class="project__text">
                  <a
                    href="https://www.frontendmentor.io/challenges/intro-component-with-signup-form-5cf91bd49edda32581d28fd1">Sign up form challenge on Frontend Mentor.</a> It validates errors and shows them in the component.<br> <br> Developed using:
                </p>
                <div class="project__tools">
                  <span class="tool react">React</span>
                  <span class="tool sass">Sass</span>
                </div>
                <div class="repository--div"><a class="repository__button" href="https://github.com/dportillo23/signup"><i class="fab fa-github"></i>Repository</a></div>
              </div>
            </div>

    </div>

  </section>