<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="google-site-verification" content="C4HD-R8rgGtQhHmO1pNWt_AG4_aX2IHqq7UDKavBgek" />
  <title>Daniel Portillo | {{ title }}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}">
  <link rel="icon" href="{{ url_for('static', filename='images/Logos/avataaars 1.svg') }}">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Oxygen&family=Satisfy&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/22e099610c.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">

</head>
