<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="google-site-verifiation" content="C4HD-R8rgGtQhHmO1pNWt_AG4_aX2IHqq7UDKavBgek" />

  <!-- Primary Meta Tags -->
<title>Daniel Portillo | Fullstack Apprentice</title>
<meta name="title" content="Daniel Portillo | Fullstack Apprentice">
<meta name="description" content="I'm a Civil Engineer and Frontend Developer, I'm also a Fullstack apprentice and Python enthusiast">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="http://www.danielportillo.dev/">
<meta property="og:title" content="Daniel Portillo | Fullstack Apprentice">
<meta property="og:description" content="I'm a Civil Engineer and Frontend Developer, I'm also a Fullstack apprentice and Python enthusiast">
<meta property="og:image" content="{{ url_for('static', filename='images/Logos/Logo.svg') }}">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="http://www.danielportillo.dev/">
<meta property="twitter:title" content="Daniel Portillo | Fullstack Apprentice">
<meta property="twitter:description" content="I'm a Civil Engineer and Frontend Developer, I'm also a Fullstack apprentice and Python enthusiast">
<meta property="twitter:image" content="{{ url_for('static', filename='images/Logos/Logo.svg') }}">

  <!-- Stylesheet -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}">

  <!-- icon -->
  <link rel="icon" href="{{ url_for('static', filename='images/Logos/Logo.svg') }}">

  <!-- Google Fonts and FontAwesome -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Oxygen&family=Satisfy&display=swap" rel="stylesheet">

  <script src="https://kit.fontawesome.com/0e77940d3f.js" crossorigin="anonymous"></script>
  <!-- <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css"> -->

</head>
