<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="google-site-verifiation" content="C4HD-R8rgGtQhHmO1pNWt_AG4_aX2IHqq7UDKavBgek" />
 <!-- SEO meta tags -->
  <meta name="description" content="I'm a Civil Engineer and Frontend Developer, I'm also a Fullstack apprentice and Python enthusiast">
  <meta name="keywords" content="frontend, developer, python, fullstack, programmer">
  <title>Daniel Portillo | {{ title }}</title>

  <!-- Stylesheet -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}">

  <!-- icon -->
  <link rel="icon" href="{{ url_for('static', filename='images/Logos/Logo.svg') }}">

  <!-- Google Fonts and FontAwesome -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Oxygen&family=Satisfy&display=swap" rel="stylesheet">

  <script src="https://kit.fontawesome.com/0e77940d3f.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">

</head>
