{% with title="Fullstack Apprentice" %}
{% include "head.html" %}
{% endwith %}

<body>
  <header id="home" class="toggable">
    <!-- Navigation bar section -->
    {% include "navbar.html" %}

    <!-- Hero section -->
    <div class="hero container">
      <div class="hero__title">
        <img class="avatar" src="{{ url_for('static', filename='images/Logos/avataaars 1.svg') }}" alt="avatar-pic">
        <div class="hero__greeting">
          <h2>Hi!</h2>
          <h1 class="hero__me">I'm Daniel.</h1>
        </div>
      </div>
      <h2 class="hero__dedication">
        <!-- <span class="message_development">SITE UNDER DEVELOPMENT</span><br> -->
        a civil engineer and programmer.
      </h2>
      <a class="btn" id="download__button" href="{{ url_for('views.download_cv') }}"><i
          class="fa-regular fa-file-pdf"></i>Download CV</a>
      <img class="hero__image" src="{{ url_for('static', filename='images/Bridge.svg') }}" alt="bridge-img">


    </div>
  </header>

  <!-- Skills section -->
  {% include "sections/skills.html" %}

  <!-- Projects section -->
  {% include "sections/projects.html" %}

  <!-- Footer -->
  <footer class="footer padding--top">

    <div class="card contact_me">
      <h3 class="contact__text">
        Do you want to talk about a project?
      </h3>

      <a class="btn contact__btn" href="{{ url_for('views.contact') }}" type="button">Get in Touch!</a>
    </div>

    <div class="container">
      <div class="row">
        <div class="footer__me">
          <img src="{{ url_for('static', filename='images/Logos/NEW_PIC.webp') }}" alt="" class="profile__pic">
          <h1>Hello!</h1>
          <div class="footer__greetings">
            <p>I’m a civil engineer, with a master in Structural, Foundation and Materials Engineering who now discover
              a love for programming.</p>
            <p>I started with web development where I spent lot of hours having fun and learning new interesting things.
              I’m also a Python enthusiast, I love that is really powerful, but at the same time very clean and
              readable.</p>
          </div>
        </div>

        <div class="footer__social">

          <a class="footer__social__link" href="https://github.com/dportillo23" aria-label="Github"><i
              class="fab fa-github"></i></a>
          <a class="footer__social__link" href="https://www.linkedin.com/in/daniel-portillo23" aria-label="LinkedIn"><i
              class="fab fa-linkedin-in"></i></a>
          <a class="footer__social__link" href="https://twitter.com/DaniDev23"><i class="fab fa-twitter"
              aria-label="Twitter"></i></a>
          <a class="footer__social__link" href="https://stackoverflow.com/users/19015640/daniel-portillo"
            aria-label="Stack Overflow"><i class="fab fa-stack-overflow"></i></a>
        </div>


      </div>
      <div class="footer__end">
        <p class="copyright">© <span class="year">2021</span>. Made and powered by me</p>
        <img src="{{ url_for('static', filename='images/Logos/Logo_black&white.svg') }}" alt="" class="footer__logo" loading="lazy">
      </div>
    </div>
  </footer>

  <script src="{{ url_for('static', filename='Js/app.js')}}"></script>
</body>

</html>